body {
    font-size: 18px;
}

.container {
    border: 2px solid #4476a2;
    margin: auto;
    max-width: 400px;
    height: 250px;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper {
    max-width: 500px;
    margin: auto;
}

.form-label {
    display: inline-block;
    width: 120px;
    background-color: #5b9bd5;
    border: 2px solid #4476a2;
    padding: 8px;
    margin: 8px 10px 8px 0px;
    color: #ffffff;
}

.form-input {
    display: inline-block;
    width: 240px;
    padding: 11px 10px 11px 10px;
    border: 2px solid #4476a2;
}

input:where([type="radio"]) {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #4476a2;
    border-radius: 100%;
    background: #ffffff;
}

input[type="radio"]:checked {
    background: #5b9bd5;
}

.form-select {
    display: inline-block;
    width: 180px;
    padding: 11px 10px 11px 10px;
    border: 2px solid #4476a2;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 5px;
    background: url("./selcect-arrow.png") no-repeat #ffffff;
    pointer-events: none;
}

.submit-btn {
    display: block;
    background-color: #70ad47;
    padding: 16px 32px;
    border: 2px solid #4476a2;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto 10px auto;
    color: #ffffff;
}

select::-ms-expand {
    display: none;
}
